asgiref @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/asgiref_1729057877436/work
certifi==2025.8.3
charset-normalizer==3.4.3
cloudinary==1.44.1
dj-database-url==3.0.1
Django @ file:///C:/b/abs_732pccxzov/croot/django_1745263601709/work
django-ckeditor-5==0.2.18
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
django-rest-framework==0.1.0
djangorestframework==3.16.1
dotenv==0.9.9
idna==3.10
pillow==11.3.0
python-dotenv==1.1.1
requests==2.32.4
setuptools==78.1.1
six==1.17.0
sqlparse @ file:///C:/Users/dev-admin/buildout/croot/sqlparse_1739565583021/work
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
urllib3==2.5.0
wheel==0.45.1
